body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('http://cdn.wallpapername.com/1920x1080/20121102/star%20wars%20stormtroopers%20darth%20maul%20lightsabers%20luke%20skywalker%20the%20simpsons%20white%20background%201920x_www.wallpapername.com_6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  font-size: 18px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
